/* GLOBAL STYLES */
html {
    min-height: calc(var(--vh, 1vh) * 100);
	min-width: calc(var(--vh2, 1vh) * 100);
}

body {
    background-color: black;
    font-family: 'Josefin Slab', serif;
    overflow: hidden;
}

/* Input Form */
.form {
    display: inline;
    position: absolute;
}

#text-input {
    margin-top: 0.125%;
    padding: 10px;
    width: 80%;
    height: 15%;
    margin-left: 10%;
}

#input {   
    font-family: 'Josefin Slab', serif;
    width: 79%;
    padding: 0%;
    font-size: 200%;
}

#submit {  
    font-family: 'Josefin Slab', serif;
    padding: 0%; 
    width: 20%;
    font-size: 200%;
}

/* Embed */
iframe {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
}

/* Styling */
#container {
    position: absolute;
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-bottom: 5%;
}

#responses {
    color: dimgray;
    position: absolute;
    margin-top: 0%;
    top: 2%;
    margin-left: 1%;
    width: 98%;
    padding-bottom: 12%;
    overflow: hidden;
}

.responses {
    font-size: 125%;
    color: dimgray;
    text-shadow: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 0.5%;
    vertical-align: bottom;
    position: relative;

    /*overflow: hidden;  Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:100%; }
    #secondary { width: 100%; margin:0; border:none;} 
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width: 100%; margin:0; border:none; }
}
